//-----------------------------------------------
// Responsive Breakpoints Variables
//-----------------------------------------------
$xxxl: "only screen and (max-width: 1799px)";
$xxl: "only screen and (max-width: 1599px)";
$xl: "only screen and (max-width: 1399px)";
$lg: "only screen and (max-width: 1199px)";
$md: "only screen and (max-width: 991px)";
$sm: "only screen and (max-width: 767px)";
$xsm: "only screen and (max-width: 575px)";

@media #{$xl} {
}

@media #{$lg} {
}

@media #{$md} {
}

@media #{$sm} {
}

@media #{$xsm} {
}

@media only screen and (max-width: 360px) {
}
