html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: var(--primary-font-400);
  font-size: var(--size-xl);
  color: var(--primary-color);
  background-color: var(--body-bg);
  line-height: 1.5;
  overflow-x: hidden;
}

/* 
==================================
Bacic Setup
==================================
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
span,
label {
  display: inline-block;
}

ul {
  list-style: none;
}

a,
a:focus {
  text-decoration: none;
}

button,
input,
textarea {
  outline: 0;
  border: 0;
  background-color: transparent;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
hr {
  margin: 0;
  padding: 0;
}

hr {
  opacity: 1;
  background-color: transparent;
}




