/* 
==================================
Reuseble CSS Classes
==================================
*/
.sec-y-space {
  padding: 10rem 0;
  @media #{$xsm} {
  padding: 8rem 0;
  }
}

.sec-t-space {
  padding-top: 10rem;
  @media #{$xsm} {
    padding-top: 8rem;
  }
}

.sec-b-space {
  padding-bottom: 10rem;
  @media #{$xsm} {
    padding-bottom: 8rem;
  }
}

.rounded-18 {
  border-radius: 1.6rem;
}

.rounded-10 {
  border-radius: 1rem;
}

.rounded-8 {
  border-radius: 0.8rem;
}

.rounded-4 {
  border-radius: 0.4;
}

.t-linear {
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

a,
button,
img,
svg,
svg path,
span,
.t-ease-in-out {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
