/* 
==================================
Font Family
==================================
*/
.primary-font-700 {
  font-family: var(--primary-font-700);
}

.primary-font-600 {
  font-family: var(--primary-font-600);
}

.primary-font-500 {
  font-family: var(--primary-font-500);
}

.primary-font-400 {
  font-family: var(--primary-font-400);
}

.secondary-font-700 {
  font-family: var(--secondary-font-700);
}

.secondary-font-400 {
  font-family: var(--secondary-font-400);
}

/* 
==================================
Font Size
==================================
*/
.size-13xl {
  font-size: var(--size-13xl);
  line-height: 1.093;
}

.size-12xl {
  font-size: var(--size-12xl);
  line-height: 1.196;
}

.l-h-12xl-59 {
  line-height: 1.053;
}

.size-11xl {
  font-size: var(--size-11xl);
  line-height: 1.5;
}

.l-h-11xl-36 {
  line-height: 1;
}

.l-h-11xl-44 {
  line-height: 1.222;
}

.size-10xl {
  font-size: var(--size-10xl);
  line-height: 1.281;
}

.size-9xl {
  font-size: var(--size-9xl);
  line-height: 1.233;
}

.l-h-9xl-52 {
  line-height: 1.666;
}

.size-8xl {
  font-size: var(--size-8xl);
  line-height: 1.5;
}

.l-h-8xl-28 {
  line-height: 1.076;
}

.size-7xl {
  font-size: var(--size-7xl);
  line-height: 1.48;
}

.l-h-7xl-25 {
  line-height: 1;
}

.size-6xl {
  font-size: var(--size-6xl);
  line-height: 1.583;
}

.size-5xl {
  font-size: var(--size-5xl);
  line-height: 1.5;
}

.l-h-5xl-42 {
  line-height: 1.909;
}

.size-4xl {
  font-size: var(--size-4xl);
  line-height: 1.523;
}

.size-3xl {
  font-size: var(--size-3xl);
  line-height: 1.5;
}

.size-2xl {
  font-size: var(--size-2xl);
  line-height: 1.444;
}

.size-xl {
  font-size: var(--size-xl);
  line-height: 1.5;
}

.size-lg {
  font-size: var(--size-lg);
  line-height: 1.5;
}

.size-md {
  font-size: var(--size-md);
  line-height: 1.5;
}

.size-sm {
  font-size: var(--size-sm);
  line-height: 1.4;
}
