/* 
================================================
Variables
================================================
*/
:root {
  /*_______ Font Family _______*/
  --primary-font-700: "Poppins 700";
  --primary-font-600: "Poppins 600";
  --primary-font-500: "Poppins 500";
  --primary-font-400: "Poppins 400";
  --secondary-font-700: "PT Serif 700";
  --secondary-font-400: "PT Serif 400";

  /*________ Font Size ________*/
  --size-13xl: 6.4rem;
  --size-12xl: 5.6rem;
  --size-11xl: 3.6rem;
  --size-10xl: 3.2rem;
  --size-9xl: 3rem;
  --size-8xl: 2.6rem;
  --size-7xl: 2.5rem;
  --size-6xl: 2.4rem;
  --size-5xl: 2.2rem;
  --size-4xl: 2.1rem;
  --size-3xl: 2rem;
  --size-2xl: 1.8rem;
  --size-xl: 1.6rem;
  --size-lg: 1.4rem;
  --size-md: 1.2rem;
  --size-sm: 1rem;
  /*
64(70) ----- 2nd page
56(*67, 59) 
36(*54, 36, 44)
32(41)
*30+29+31(37)
26(28, *39)
25(25, *37)
24(38)
*22+23(*33, 42)
21(32) 
20(30)
18(26)
16(24)
*14+13(21)
12(18)
10(14)
*/
  /*________ Text Color ________*/
  --primary-color: #ffffff;
  --secondary-color: #001a35;
  --text-color3: #24eba5;
  --text-color4: #000000;
  --text-color5: #083038;
  --text-color6: #231d4f;
  --text-color7: #848199;
  --text-color8: #1e1e1e;
  --text-color9: #b1b1b5;
  --text-color10: #e54322;
  --text-color11: rgba(8, 48, 56, 0.5);
  --text-color12: #6b6b6b;
  --text-color13: #0d4c92;
  --text-color14: #d7d7d7;
  --text-color15: #697386;
  --text-color16: #8792a2;

  /*_________ BG Color _________*/
  --body-bg: #001a35;
  --primary-bg: #ffffff;
  --secondary-bg: #24eba5;
  --bg-color3: #001a35;
  --bg-color4: #2f3142;
  --bg-color5: #002c5a;
  --bg-color6: #0d4c92;
  --bg-color7: #5865f2;
  --bg-color8: #6c79ff;

  /*_________ Border Color _________*/
  --border-1: #ffffff;
  --border-2: #001a35;
  --border-3: #24eba5;
  --border-4: #d7d7d7;
  --border-5: rgba(60, 66, 87, 0.12);
}

@media #{$xl} {
  :root {
    --size-12xl: 5rem;
    --size-7xl: 2.2rem;
    --size-6xl: 2rem;
    --size-5xl: 1.8rem;
  }
}

@media #{$lg} {
  :root {
    --size-12xl: 4.3rem;
    --size-11xl: 3rem;
    --size-8xl: 2.2rem;
    --size-7xl: 2rem;
    --size-6xl: 1.8rem;
    --size-5xl: 1.6rem;
    --size-4xl: 1.8rem;
    --size-2xl: 1.6rem;
    --size-xl: 1.4rem;
  }
}

@media #{$sm} {
  :root {
    --size-12xl: 3.5rem;
    --size-7xl: 1.8rem;
    --size-3xl: 1.8rem;
  }
}

@media #{$xsm} {
  :root {
    --size-12xl: 3rem;
    --size-7xl: 1.6rem;
    --size-4xl: 1.7rem;
  }
}
