/* 
================================================
Variables
================================================
*/
:root {
  /*_______ Font Family _______*/
  --primary-font-700: "Poppins 700";
  --primary-font-600: "Poppins 600";
  --primary-font-500: "Poppins 500";
  --primary-font-400: "Poppins 400";
  --secondary-font-700: "PT Serif 700";
  --secondary-font-400: "PT Serif 400";
  /*________ Font Size ________*/
  --size-13xl: 6.4rem;
  --size-12xl: 5.6rem;
  --size-11xl: 3.6rem;
  --size-10xl: 3.2rem;
  --size-9xl: 3rem;
  --size-8xl: 2.6rem;
  --size-7xl: 2.5rem;
  --size-6xl: 2.4rem;
  --size-5xl: 2.2rem;
  --size-4xl: 2.1rem;
  --size-3xl: 2rem;
  --size-2xl: 1.8rem;
  --size-xl: 1.6rem;
  --size-lg: 1.4rem;
  --size-md: 1.2rem;
  --size-sm: 1rem;
  /*
  64(70) ----- 2nd page
  56(*67, 59) 
  36(*54, 36, 44)
  32(41)
  *30+29+31(37)
  26(28, *39)
  25(25, *37)
  24(38)
  *22+23(*33, 42)
  21(32) 
  20(30)
  18(26)
  16(24)
  *14+13(21)
  12(18)
  10(14)
  */
  /*________ Text Color ________*/
  --primary-color: #ffffff;
  --secondary-color: #001A35;
  --text-color3: #24EBA5;
  --text-color4: #000000;
  --text-color5: #083038;
  --text-color6: #231D4F;
  --text-color7: #848199;
  --text-color8: #1E1E1E;
  --text-color9: #B1B1B5;
  --text-color10: #E54322;
  --text-color11: rgba(8, 48, 56, 0.5);
  --text-color12: #6B6B6B;
  --text-color13: #0D4C92;
  --text-color14: #D7D7D7;
  /*_________ BG Color _________*/
  --body-bg: #001A35;
  --primary-bg: #ffffff;
  --secondary-bg: #24EBA5;
  --bg-color3: #001A35;
  --bg-color4: #2F3142;
  --bg-color5: #002C5A;
  --bg-color6: #0D4C92;
  --bg-color7: #5865F2;
  --bg-color8: #6C79FF;
  /*_________ Border Color _________*/
  --border-1: #ffffff;
  --border-2: #001A35;
  --border-3: #24EBA5;
  --border-4: #D7D7D7;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: var(--primary-font-400);
  font-size: var(--size-xl);
  color: var(--primary-color);
  background-color: var(--body-bg);
  line-height: 1.5;
  overflow-x: hidden;
}

/* 
==================================
Bacic Setup
==================================
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
span,
label {
  display: inline-block;
}

ul {
  list-style: none;
}

a,
a:focus {
  text-decoration: none;
}

button,
input,
textarea {
  outline: 0;
  border: 0;
  background-color: transparent;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
hr {
  margin: 0;
  padding: 0;
}

hr {
  opacity: 1;
  background-color: transparent;
}

/* 
==================================
Font Family
==================================
*/
.primary-font-700 {
  font-family: var(--primary-font-700);
}

.primary-font-600 {
  font-family: var(--primary-font-600);
}

.primary-font-500 {
  font-family: var(--primary-font-500);
}

.primary-font-400 {
  font-family: var(--primary-font-400);
}

.secondary-font-700 {
  font-family: var(--secondary-font-700);
}

.secondary-font-400 {
  font-family: var(--secondary-font-400);
}

/* 
==================================
Font Size
==================================
*/
.size-13xl {
  font-size: var(--size-13xl);
  line-height: 1.093;
}

.size-12xl {
  font-size: var(--size-12xl);
  line-height: 1.196;
}

.l-h-12xl-59 {
  line-height: 1.053;
}

.size-11xl {
  font-size: var(--size-11xl);
  line-height: 1.5;
}

.l-h-11xl-36 {
  line-height: 1;
}

.l-h-11xl-44 {
  line-height: 1.222;
}

.size-10xl {
  font-size: var(--size-10xl);
  line-height: 1.281;
}

.size-9xl {
  font-size: var(--size-9xl);
  line-height: 1.233;
}

.l-h-9xl-52 {
  line-height: 1.666;
}

.size-8xl {
  font-size: var(--size-8xl);
  line-height: 1.5;
}

.l-h-8xl-28 {
  line-height: 1.076;
}

.size-7xl {
  font-size: var(--size-7xl);
  line-height: 1.48;
}

.l-h-7xl-25 {
  line-height: 1;
}

.size-6xl {
  font-size: var(--size-6xl);
  line-height: 1.583;
}

.size-5xl {
  font-size: var(--size-5xl);
  line-height: 1.5;
}

.l-h-5xl-42 {
  line-height: 1.909;
}

.size-4xl {
  font-size: var(--size-4xl);
  line-height: 1.523;
}

.size-3xl {
  font-size: var(--size-3xl);
  line-height: 1.5;
}

.size-2xl {
  font-size: var(--size-2xl);
  line-height: 1.444;
}

.size-xl {
  font-size: var(--size-xl);
  line-height: 1.5;
}

.size-lg {
  font-size: var(--size-lg);
  line-height: 1.5;
}

.size-md {
  font-size: var(--size-md);
  line-height: 1.5;
}

.size-sm {
  font-size: var(--size-sm);
  line-height: 1.4;
}

/* 
==================================
Text Color 
==================================
*/
.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.text-color3 {
  color: var(--text-color3);
}

.text-color4 {
  color: var(--text-color4);
}

.text-color5 {
  color: var(--text-color5);
}

.text-color6 {
  color: var(--text-color6);
}

.text-color7 {
  color: var(--text-color7);
}

.text-color8 {
  color: var(--text-color8);
}

.text-color9 {
  color: var(--text-color9);
}

.text-color10 {
  color: var(--text-color10);
}

.text-color11 {
  color: var(--text-color11);
}

.text-color12 {
  color: var(--text-color12);
}

.text-color13 {
  color: var(--text-color13);
}

.text-color14 {
  color: var(--text-color14);
}

/* 
==================================
BG Color 
==================================
*/
.primary-bg {
  background-color: var(--primary-bg);
}

.secondary-bg {
  background-color: var(--secondary-bg);
}

.bg-color3 {
  background-color: var(--bg-color3);
}

.bg-color4 {
  background-color: var(--bg-color4);
}

.bg-color5 {
  background-color: var(--bg-color5);
}

.bg-color6 {
  background-color: var(--bg-color6);
}

.bg-color7 {
  background-color: var(--bg-color7);
}

.bg-color8 {
  background-color: var(--bg-color8);
}

/* 
==================================
Reuseble CSS Classes
==================================
*/
.sec-y-space {
  padding: 9rem 0;
}

.sec-t-space {
  padding-top: 9rem;
}

.sec-b-space {
  padding-bottom: 9rem;
}

.rounded-18 {
  border-radius: 1.6rem;
}

.rounded-10 {
  border-radius: 1rem;
}

.rounded-8 {
  border-radius: 0.8rem;
}

.rounded-4 {
  border-radius: 0.4;
}

.t-linear {
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

a,
button,
img,
svg,
svg path,
span,
.t-ease-in-out {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* 
======================================
Reuseble Components
======================================
*/
.section-loader {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #100e17;
  width: 100%;
  height: 100vh;
  z-index: 9999999;
}
.section-loader .loader {
  position: relative;
}
.section-loader .loader .loader-circle {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  border-width: 0.4rem;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.section-loader .loader .loader-circle:nth-child(1) {
  border-color: #e91e63;
}
.section-loader .loader .loader-circle:nth-child(2) {
  border-color: #0dbda1;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.section-loader .loader {
  width: 20rem !important;
  height: 20rem !important;
  -webkit-transform: translate(-10rem, -10rem) scale(1) translate(10rem, 10rem);
  transform: translate(-10rem, -10rem) scale(1) translate(10rem, 10rem);
}
@keyframes loader {
  0% {
    top: 9.4rem;
    left: 9.4rem;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 5.7rem;
    left: 5.7rem;
    width: 7.4rem;
    height: 7.4rem;
    opacity: 0;
  }
}

.disppear {
  -webkit-animation: vanish 1s forwards;
  animation: vanish 1s forwards;
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/*----- Button -----*/
.border-btn,
.bg-btn {
  font-family: var(--primary-font-500);
  font-size: var(--size-xl);
  line-height: 1.5;
  border-radius: 0.8rem;
  padding: 1.4rem 3.2rem;
}

.border-btn {
  color: var(--primary-color);
  border: 0.1rem solid var(--border-3);
}

.border-btn:hover {
  color: var(--secondary-color);
  background-color: var(--secondary-bg);
}

.bg-btn {
  background-color: var(--secondary-bg);
  color: var(--secondary-color);
  border: 0.1rem solid transparent;
}
.bg-btn:hover {
  color: var(--primary-color);
  border-color: var(--border-3);
  background-color: transparent;
}

#scroll-up-btn {
  opacity: 0;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  z-index: 999;
  background-color: var(--secondary-bg);
  width: 3.5rem;
  height: 3.5rem;
}

/* 
=================================================
Reuseble Layout CSS
=================================================
*/
/*------ Header CSS ------*/
.sticky-header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem 0;
}

.main-menu .menu:not(:last-child) {
  margin-right: 9rem;
}
.main-menu .menu .menu-item:not(:last-child) {
  margin-right: 3.6rem;
}
.main-menu .menu .menu-item .menu-link:hover {
  color: var(--text-color3);
}

.menu-btn .menu-btn-item:not(:last-child) {
  margin-right: 1rem;
}
.menu-btn .menu-btn-item-1 .menu-btn-link {
  padding: 1.4rem 3.2rem;
}
.menu-btn .menu-btn-item-1 .menu-btn-link:hover {
  color: var(--secondary-color);
  background-color: var(--secondary-bg);
}

/*** Contac Header ****/
.contact-menu-btn .menu-btn-item-2 .menu-btn-link:hover {
  color: var(--secondary-color);
}

/**** Sticky Menu ****/
.stick {
  position: fixed;
  z-index: 9999;
  -webkit-animation: 600ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 600ms ease-in-out 0s normal none 1 running fadeInDown;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.stick.contact-header {
  box-shadow: 0px 10.6296px 11.6926px rgba(0, 0, 0, 0.1) !important;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
/*------ Pricing CSS ------*/
.pricing-sec {
  padding-top: 30rem;
}

.pricing-title .pricing-title-md::after {
  content: "";
  position: absolute;
  bottom: -6rem;
  right: 3.4rem;
  width: 5.5rem;
  height: 5.1rem;
  background: url("../images/pricing/arrow-left.png") no-repeat top/5.5rem 5.1rem;
}
@media only screen and (max-width: 991px) {
  .pricing-title .pricing-title-md::after {
    bottom: -5rem;
  }
}
@media only screen and (max-width: 767px) {
  .pricing-title .pricing-title-md::after {
    right: 3rem;
  }
}
@media only screen and (max-width: 575px) {
  .pricing-title .pricing-title-md::after {
    right: 2.5rem;
  }
}
@media only screen and (max-width: 991px) {
  .pricing-title .pricing-title-lg {
    font-size: 4.5rem;
  }
  .pricing-title .pricing-title-md {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 767px) {
  .pricing-title .pricing-title-lg {
    font-size: 3.5rem;
  }
  .pricing-title .pricing-title-md {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 425px) {
  .pricing-title .pricing-title-lg {
    font-size: 3rem;
  }
  .pricing-title .pricing-title-md {
    font-size: 1.8rem;
  }
}

.pricing-tab {
  margin: 5.5rem 0;
  overflow: hidden;
}
.pricing-tab .pricing-tablinks {
  padding: 1.2rem 2.5rem;
  flex-grow: 1;
}
.pricing-tab .pricing-tablinks.active {
  background-color: var(--secondary-bg);
}

.pricing-main-content .pricing-tabcontent {
  display: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}
.pricing-main-content .pricing-tabcontent .pricing-tabcontent-row {
  --bs-gutter-y: 2.4rem;
  --bs-gutter-x: 2.4rem;
}
@media only screen and (max-width: 699px) {
  .pricing-main-content .pricing-tabcontent .pricing-tabcontent-row > * {
    width: 100%;
  }
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.pricing-card {
  padding: 3.6rem 3.6rem 4.6rem;
  border-radius: 2.3rem;
  transition: all 0.4s linear;
}
.pricing-card:hover {
  transform: translateY(-0.5rem);
}
@media only screen and (max-width: 1399px) {
  .pricing-card {
    padding: 3.6rem 2.5rem 3rem;
  }
}
.pricing-card .pricing-card-top-btn {
  position: absolute;
  top: 1.4rem;
  right: 1.6rem;
  padding: 0.6rem 1.4rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.pricing-card-private {
  overflow: hidden;
  z-index: 1;
}
.pricing-card-private .pricing-card-circle {
  width: 55rem;
  height: 55rem;
  border-radius: 50%;
  z-index: -1;
  position: absolute;
  right: -30rem;
  bottom: -18rem;
}

.pricing-card-header {
  margin-top: 1rem;
}
.pricing-card-header .pricing-card-header-title {
  margin: 1.3rem 0;
}

.pricing-card-body .pricing-card-body-title1 {
  margin-bottom: 1.5rem;
}
.pricing-card-body .pricing-card-body-title2 {
  margin: 1.5rem 0;
}

.pricing-card-service .pricing-card-service-item:not(:last-child) {
  margin-bottom: 1.4rem;
}
.pricing-card-service .pricing-card-service-item .pricing-card-service-text {
  margin-left: 0.8rem;
}

.pricing-card-footer {
  margin-top: 2.8rem;
}
.pricing-card-footer .pricing-card-btn {
  padding: 1rem 5rem;
}

/******* Popular & Private Card vertically alignment *******/
.popular-pricing-card .pricing-card-body .pricing-card-service-1 {
  margin-top: 3.6rem;
}

.pricing-card-private .pricing-card-body .pricing-card-service {
  margin-top: 3rem;
}
.pricing-card-private .pricing-card-footer {
  margin-top: 7.8rem;
}

/*------ FAQ CSS ------*/
.faq-title-wrap .faq-title {
  margin-bottom: 6.4rem;
}

.faq-row {
  --bs-gutter-x: 2.6rem;
  --bs-gutter-y: 2.6rem;
}

.accordion-i {
  border-radius: 1.6rem !important;
}
.accordion-i:not(:last-child) {
  margin-bottom: 2.6rem;
}
.accordion-i .accordion-button {
  padding: 2.5rem 2.5rem 2.5rem;
  border-radius: 1.6rem !important;
}
.accordion-i .accordion-button:not(.collapsed) {
  background-color: transparent;
  box-shadow: 0 0 0 transparent;
}
.accordion-i .accordion-button::after {
  flex-shrink: 0;
  width: 4.1rem;
  height: 4.1rem;
  background-image: url("../images/icons/plus.svg");
  background-size: 4.1rem;
}
.accordion-i .accordion-button:not(.collapsed)::after {
  background-image: url("../images/icons/minus.svg");
}
.accordion-i .accordion-body {
  padding: 0rem 2.5rem 2.5rem;
}

/*------ Newsletter CSS ------*/
.newsletter-section {
  padding: 5.5rem 0;
}
.newsletter-section .newsletter-circle {
  width: 36rem;
  height: 36rem;
  border: 8rem solid var(--bg-color3);
  position: absolute;
  right: -19.5rem;
  bottom: -11rem;
  transform: rotate(120deg);
}

.newsletter-title-wrap .newsletter-title {
  margin-top: 0.7rem;
}

.newsletter-form {
  gap: 2rem;
  margin: 1.7rem 0 2.6rem;
}
.newsletter-form .newsletter-form-input {
  max-width: 37.3rem;
  height: 6.3rem;
  font-family: var(--primary-font-400);
  font-size: var(--size-xl);
  color: var(--secondary-color);
  border: 0.1rem solid var(--border-1);
  padding: 2rem 1rem 2rem 2rem;
}
.newsletter-form .newsletter-form-input::placeholder {
  color: var(--primary-color);
}
.newsletter-form .newsletter-form-input:focus {
  border-color: var(--border-2);
}
.newsletter-form .newsletter-form-btn {
  padding: 1.5rem 5rem;
}
.newsletter-form .newsletter-form-btn:hover {
  background-color: var(--primary-bg);
  color: var(--secondary-color);
}

/*------ Footer CSS ------*/
.f-content .f-content-title {
  margin-bottom: 2rem;
}
.f-content .f-pages-menu .f-pages-item:not(:last-child) {
  margin-bottom: 1rem;
}
.f-content .f-pages-menu .f-pages-item .f-pages-link {
  text-transform: capitalize;
}
.f-content .f-pages-menu .f-pages-item .f-pages-link:hover {
  color: var(--text-color3);
  margin-left: 0.4rem;
}

.footer-bottom {
  border-top: 0.1rem solid var(--text-color7);
  margin-top: 5.5rem;
  padding: 7rem 0 5rem;
}

.f-social .f-social-item:not(:last-child) {
  margin-right: 1.1rem;
}
.f-social .f-social-item .f-social-link {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.f-social .f-social-item .f-social-link:hover {
  background-color: var(--secondary-bg);
}
.f-social .f-social-item .f-social-link:hover .f-social-icon path {
  fill: var(--secondary-color);
}

/* 
=================================================
Home Page Style CSS
=================================================
*/
/******* Hero Section *******/
.hero-section {
  padding: 21.5rem 0 14.3rem;
}

.hero-content .hero-desc {
  margin: 3.5rem 0 4.5rem;
}
.hero-content .hero-btn {
  gap: 1.6rem;
}

.hero-img .hero-main-img {
  animation: zump 4s infinite linear;
}

@keyframes zump {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  50% {
    -webkit-transform: translate3d(0, -3rem, 0);
    transform: translate3d(0, -3rem, 0);
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
/****** Stock Forecasting Section ******/
.stock-forecasting-section {
  padding: 6rem 0;
}

.stock-forecasting-grid {
  --bs-gutter-x: 6rem;
  --bs-gutter-y: 6rem;
}
.stock-forecasting-grid > * {
  width: 20%;
}

.stock-forecasting-card {
  padding: 1.6rem 1.9rem;
}
.stock-forecasting-card .stock-forecasting-card-counter {
  margin-top: 1.9rem;
}
@media only screen and (max-width: 575px) {
  .stock-forecasting-card .stock-forecasting-card-counter {
    font-size: 1.8rem;
    line-height: 1.6;
  }
}
@media only screen and (max-width: 575px) {
  .stock-forecasting-card .stock-forecasting-card-color-text {
    font-size: var(--size-2xl);
    line-height: 1.5;
    margin-top: 0.5rem;
  }
}

/******* Why Mem Stock Section *******/
.why-mem-stock-title-wrap {
  margin-bottom: 6rem;
}
.why-mem-stock-title-wrap .why-mem-stock-title {
  margin-bottom: 1rem;
}
.why-mem-stock-title-wrap .why-mem-stock-desc {
  width: 100%;
  max-width: 80.6rem;
}

.why-mem-stock-row {
  --bs-gutter-x: 6rem;
  --bs-gutter-y: 6rem;
}

.why-mem-stock-card .why-mem-stock-card-icon {
  width: 6rem;
  height: 6rem;
}
.why-mem-stock-card .why-mem-stock-card-title {
  margin: 3.5rem 0 2.5rem;
}

.fatures-row {
  --bs-gutter-x: 6rem;
  --bs-gutter-y: 6rem;
}

.fatures-text .fatures-title {
  margin-bottom: 4.9rem;
}
.fatures-text .fatures-list .fatures-list-item:not(:last-child) {
  margin-bottom: 1rem;
}
.fatures-text .fatures-list .fatures-list-item .fatures-list-icon {
  margin-right: 1.2rem;
}

/******* Testimonial Section *******/
.testimonial-title-wrap {
  margin-bottom: 10rem;
}
.testimonial-title-wrap .testimonial-top-title {
  margin-bottom: 2.5rem;
}
.testimonial-title-wrap .testimonial-title {
  width: 100%;
  max-width: 102rem;
}

.testimonial-slider .owl-item img {
  display: inline-block;
  width: auto;
}
.testimonial-slider .owl-nav {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonial-slider .owl-nav .owl-prev,
.testimonial-slider .owl-nav .owl-next {
  position: relative;
  margin: 0 4rem;
}
.testimonial-slider .owl-nav .owl-prev::after, .testimonial-slider .owl-nav .owl-prev::before,
.testimonial-slider .owl-nav .owl-next::after,
.testimonial-slider .owl-nav .owl-next::before {
  content: "";
  position: absolute;
  top: 0;
  width: 2.5rem;
  height: 2.5rem;
}
.testimonial-slider .owl-nav .owl-prev span,
.testimonial-slider .owl-nav .owl-next span {
  display: none;
}
.testimonial-slider .owl-nav .owl-prev::before {
  left: 0;
  background: url("../images/testimonial/arrow-left.svg") no-repeat center/2.5rem 2.5rem;
}
.testimonial-slider .owl-nav .owl-next::before {
  right: 0;
  background: url("../images/testimonial/arrow-right.svg") no-repeat center/2.5rem 2.5rem;
}

.testimonial-item .testimonial-quote {
  max-width: 14.5rem;
}
.testimonial-item .testimonial-desc {
  margin: 6rem 0;
}
.testimonial-item .testimonial-user .testimonial-user-img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
.testimonial-item .testimonial-user .testimonial-user-info {
  margin-left: 1rem;
}
.testimonial-item .testimonial-user .testimonial-user-info .testimonial-user-review .testimonial-user-star {
  margin-top: 1rem;
  width: 2rem;
  height: 2rem;
}

/* 
=================================================
Blog Page Style CSS
=================================================
*/
.blog-section {
  padding-top: 18rem;
}

.blog-row {
  --bs-gutter-x: 3.9rem;
  --bs-gutter-y: 3.9rem;
}

.blog-title-wrap {
  margin-bottom: 6.5rem;
}

.blog-wrap .blog:not(:last-child) {
  margin-bottom: 3.9rem;
}

.blog {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 0.4rem;
}
.blog .blog-header .blog-header-img {
  border-radius: 0.4rem;
}
.blog .blog-body {
  margin-top: 4rem;
  padding: 4rem 4rem 0;
}
.blog .blog-body .blog-body-title {
  margin: 1rem 0 2.4rem;
}
.blog .blog-body .blog-body-desc {
  margin-bottom: 3.3rem;
}
.blog .blog-body .blog-body-date .blog-body-date-item:not(:last-child) {
  margin-right: 1.1rem;
}

.blog .blog-footer {
  margin-top: 3.3rem;
  padding: 0 4rem 4rem;
}
.blog .blog-footer .blog-footer-item:not(:last-child) {
  margin-right: 0.6rem;
}
.blog .blog-footer .blog-footer-item .blog-footer-link {
  width: 3.3rem;
  height: 3.3rem;
  text-align: center;
  line-height: 3.3rem;
  border-radius: 50%;
}
.blog .blog-footer .blog-footer-item .blog-footer-link:hover {
  background-color: var(--secondary-bg);
}

.blog-btn-wrap {
  margin-top: 10rem;
}
.blog-btn-wrap .blog-btn {
  width: 100%;
  max-width: 38.8rem;
  padding: 1.9rem;
}
.blog-btn-wrap .blog-btn:hover {
  background-color: var(--bg-color3);
}

/* 
=================================================
Single Blog Page Style CSS
=================================================
*/
.mb-80 {
  margin-bottom: 8rem;
}

.mb-40 {
  margin-bottom: 4rem;
}

.mb-44 {
  margin-bottom: 4.4rem;
}

.mb-27 {
  margin-bottom: 2.7rem;
}

.update-bold-normal {
  padding-left: 3rem;
}

.single-blog-wrap {
  width: 100%;
  max-width: 99.4rem;
  margin-left: auto;
  margin-right: auto;
}

.single-blog-section {
  padding: 18rem 0 13rem;
}

.update-list-1 {
  margin: 2rem 0 4.5rem;
  gap: 1.8rem;
}

.update-list-2 {
  margin: 6.9rem 0 5rem;
  gap: 1.9rem;
}

.traveling-img-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.8rem;
}
.traveling-img-row .traveling-img-wrap {
  overflow: hidden;
  border-radius: 0.4rem;
}
.traveling-img-row .traveling-img-wrap img:hover {
  transform: scale(1.1);
}

.single-blog-testimonial {
  gap: 3.5rem;
}

.single-blog-ifarme-wrap .single-blog-ifarme {
  width: 100%;
  height: 56.4rem;
}

.single-blog-social .single-blog-social-item:not(:last-child) {
  margin-right: 4rem;
}

.related-post {
  overflow: hidden;
}
.related-post:hover .related-post-img {
  transform: scale(1.1);
}
.related-post .related-post-img-wrap {
  overflow: hidden;
  margin-bottom: 3rem;
}
.related-post .related-post-img-wrap .related-post-category {
  padding: 0.6rem 1.8rem;
  position: absolute;
  left: 0;
  bottom: 0;
}
.related-post .related-post-link:hover {
  color: var(--text-color3);
}
.related-post .update-list-4 {
  margin-top: 1.5rem;
  gap: 1.5rem;
}

.update-list-3 {
  margin-top: 3.5rem;
  gap: 3rem;
}

.related-post-row {
  --bs-gutter-x: 5rem;
  --bs-gutter-y: 5rem;
}

.post-comment-wrap {
  gap: 4rem;
}
.post-comment-wrap .post-comment-user {
  width: 10.5rem;
  height: 10.5rem;
}
.post-comment-wrap .post-comment-content {
  flex-grow: 1;
}
.post-comment-wrap .post-comment-content .post-comment-date {
  margin: 1.5rem 0 3.5rem;
}

.post-comment-box .post-comment-input {
  height: 7.6rem;
  border: 0.1rem solid var(--border-4);
  padding: 2.6rem 1.5rem 2.6rem 3rem;
  font-family: var(--primary-font-500);
  font-size: var(--size-2xl);
  color: var(--secondary-color);
}
.post-comment-box .post-comment-input::placeholder {
  color: var(--text-color12);
}
.post-comment-box .post-comment-input:focus {
  border-color: var(--border-2);
}
.post-comment-box .post-comment-message {
  height: 24rem;
}
.post-comment-box .form-check .form-check-input,
.post-comment-box .form-check .form-check-label {
  cursor: pointer;
}
.post-comment-box .post-comment-btn {
  margin-top: 5rem;
  padding: 1.9rem 4rem;
}
.post-comment-box .post-comment-btn:hover {
  background-color: var(--bg-color3);
}

/* 
=================================================
Contact Page Style CSS
=================================================
*/
.contact-section {
  padding: 18rem 0 8rem;
}

.contact-wrapper {
  width: 100%;
  max-width: 54.5rem;
}

.contact-row {
  --bs-gutter-x: 2rem;
  --bs-gutter-y: 2rem;
}

.contact-title-wrap {
  margin-bottom: 4rem;
}
.contact-title-wrap .contact-title {
  margin-bottom: 2rem;
}

.contact-form .contact-form-input {
  font-family: var(--primary-font-400);
  font-size: var(--size-xl);
  color: var(--secondary-color);
  padding: 2rem;
  height: 7rem;
  border: 0.1rem solid var(--border-3);
}
.contact-form .contact-form-input::placeholder {
  color: var(--text-color12);
}
.contact-form .contact-form-message {
  height: 12rem;
}
.contact-form .contact-form-btn {
  padding: 1.1rem;
}
.contact-form .contact-form-btn:hover {
  background-color: var(--bg-color5);
}

.contact-email {
  margin-top: 8rem;
}
@media only screen and (max-width: 767px) {
  .contact-email {
    margin-top: 5rem;
  }
}
.contact-email .contact-email-link {
  gap: 1.8rem;
}
.contact-email .contact-email-link:hover .contact-email-text {
  color: var(--secondary-color);
}

/*# sourceMappingURL=style.css.map */
