/*------ FAQ CSS ------*/
.faq-section {
  padding-top: 4rem;
  @media #{$xsm} {
    padding-top: 2rem;
  }
}

.faq-title-wrap {
  .faq-title {
    margin-bottom: 6.4rem;
    @media #{$xsm} {
      margin-bottom: 4rem;
    }
  }
}

.faq-row {
  --bs-gutter-x: 2.6rem;
  --bs-gutter-y: 2.6rem;
}

.accordion-i {
  border-radius: 1.6rem !important;
  &:not(:last-child) {
    margin-bottom: 2.6rem;
  }
  .accordion-button {
    padding: 2.5rem 2.5rem 2.5rem;
    border-radius: 1.6rem !important;
    @media #{$xl} {
      font-size: 2.2rem;
    }
    @media #{$lg} {
      font-size: 2rem;
    }
    @media #{$xsm} {
      font-size: 1.8rem;
      padding: 2rem;
    }
    @media only screen and (max-width: 400px) {
      padding: 1.5rem;
    }
    &:not(.collapsed) {
      background-color: transparent;
      box-shadow: 0 0 0 transparent;
    }
  }
  .accordion-button::after {
    flex-shrink: 0;
    width: 3.5rem;
    height: 3.5rem;
    background-image: url("../images/icons/plus.svg");
    background-size: 3.5rem;
  }
  .accordion-button:not(.collapsed)::after {
    background-image: url("../images/icons/minus.svg");
  }
  .accordion-body {
    padding: 0rem 2.5rem 2.5rem;
  }
}
