/* 
=================================================
Check Out Page Style CSS
=================================================
*/
.check-out-row {
  --bs-gutter-x: 19rem;
  --bs-gutter-y: 6rem;
}

.box-style {
  height: 4rem;
  border-radius: 0.8rem;
  padding: 1.2rem;
  border: 1px solid var(--border-5);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.04);
}

.check-out-arrow-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -25px;
}

.check-out-left-col {
    border-right: 0.1rem solid var(--border-5);
}

.check-out-select {
  margin-top: 5rem;
  gap: 1.4rem;
  .check-out-select-que {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    border: 0.1rem solid var(--border-3);
  }
}

.check-out-select-box {
  margin: 1.5rem 0;
  padding: 1.3rem 1.2rem;
  height: auto;
  gap: 1.2rem;
}

.check-out-select-btn-wrap {
  gap: 1.2rem;
}

.check-out-select-btn {
  padding: 0.7rem 1.2rem;
  border: 0.1rem solid var(--border-3);
  img {
    margin-left: 0.5rem;
  }
  &:hover {
    background-color: var(--secondary-bg);
  }
  &.active {
    background-color: var(--secondary-bg);
  }
}

.pay-wrap {
  margin-top: 6rem;
  .pay-title {
    margin-bottom: 1rem;
  }
}

.basic-plan-wrap {
  margin-top: 2.5rem;
  gap: 1.4rem;
}

.basic-plan {
  gap: 1.4rem;
  .basic-plan-product-img {
    width: 4.8rem;
    height: 4.8rem;
  }
}

.basic-plan-select {
  padding-left: 1rem;
  padding-right: 3rem !important;
  border: 0;
  font-family: var(--primary-font-500);
  font-size: var(--size-md);
  padding-right: 2rem;
  color: var(--secondary-color);
  background-color: transparent;
  height: 2.5rem;
  line-height: 2.5rem;
  &::after {
    border-bottom: 1px solid var(--border-2);
    border-right: 1px solid var(--border-2);
    height: 0.7rem;
    width: 0.7rem;
    right: 1.2rem;
    margin-top: -0.2rem;
    transform: translateY(-50%) rotate(45deg);
  }
  &.open {
    &::after {
      transform: translateY(-50%) rotate(-135deg);
      margin-top: -0.1rem;
    }
  }
  .list {
    background-color: var(--primary-bg);
    border-radius: 0.4rem;
    box-shadow: 0px 10.6296px 11.6926px rgba(0, 0, 0, 0.1);
    z-index: 99;
  }
  .option {
    font-family: var(--primary-font-500);
    font-size: var(--size-md);
    color: var(--secondary-color);
    line-height: 2.8rem;
    min-height: 2.8rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}

.pay-form-select {
  padding-left: 1.2rem;
  border: 0.1rem solid var(--border-5);
  font-family: var(--primary-font-500);
  font-size: var(--size-xl);
  color: var(--text-color8);
  background-color: var(--primary-bg);
  height: 4rem;
  line-height: 4rem;
  display: block;
  width: 100%;
  border-radius: 0.8rem 0.8rem 0 0;
  &::after {
    border-bottom: 2px solid var(--border-2);
    border-right: 2px solid var(--border-2);
    height: 1rem;
    width: 1rem;
    right: 1.2rem;
  }
  .option {
    font-family: var(--primary-font-500);
    font-size: var(--size-xl);
    color: var(--secondary-color);
    line-height: 3.5rem;
    min-height: 3.5rem;
  }
}

.product-amount {
  margin-top: 2.5rem;
  max-width: 25.7rem;
  .product-amount-wrap {
    border-bottom: 1px solid rgba(60, 66, 87, 0.12);
    padding: 1.2rem 0;
  }
}

.check-out-footer {
  margin-top: 6rem;
  gap: 1.8rem;
}

.pay-top-wrap {
  .pay-top-btn {
    padding: 1.2rem;
  }
  .pay-top-text {
    margin: 3.2rem 0;
    gap: 0.4rem;
    .pay-top-hr {
      border: 0;
      border-bottom: 0.1rem solid var(--border-5);
      flex-grow: 1;
    }
  }
}

.pay-form-row {
  --bs-gutter-x: 2rem;
  --bs-gutter-y: 2rem;
}

.pay-form {
  label {
    margin-bottom: 0.8rem;
  }
  .pay-form-input {
    font-family: var(--primary-font-400);
    font-size: var(--size-xl);
    color: var(--secondary-color);
    &::placeholder {
      color: var(--text-color16);
    }
    &:focus {
      border-color: var(--border-3);
    }
  }
  .pay-form-input-card1 {
    border-radius: 0.8rem 0.8rem 0 0;
  }
  .pay-form-input-card2 {
    border-radius: 0 0 0 0.8rem;
  }
  .pay-form-input-card3 {
    border-radius: 0 0 0.8rem 0;
  }
  .pay-form-input-card4 {
    border-radius: 0 0 0.8rem 0.8rem;
  }
  .pay-form-cards {
    position: absolute;
    top: 50%;
    right: 1.2rem;
    transform: translateY(-50%);
  }
  .pay-form-btn {
    margin-top: 1rem;
    padding: 1.2rem;
    box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.12),
      0px 2px 5px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.08);
    &:hover {
      background-color: var(--bg-color5);
    }
  }
}
